/*Header styles*/
header {
    /*Image by iris Vallejo from Pixabay */
    background-image: url('../img/showcase_career.jpg');
}

.text-header {
    font-size: 70px;
}

/*Card styles*/
.card{
	position: absolute;
	height: 100%;
	width: 100%;
	transition: all 0.9s;
	backface-visibility: hidden;
}

.card-container{
	width: 27rem;
	perspective: 200rem;
	height: 550px;
}

.card-back{
	transform: rotateY(180deg);
}

.card-container:hover .card-front{
	transform: rotateY(180deg);
}

.card-container:hover .card-back{
	transform: rotateY(0deg);
}



