#html {
  background-color: #f6b26b;
}

#css {
  background-color: #9fc5e8;
}

#js {
  background-color: #ffe599;
}

/*Header styles*/
header {
  /*Image by JCH from Pixabay*/
  background-image: url('../img/showcase/showcase_index.jpg');
}

#text {
  font-size: 70px;
}

/*Image style*/
.wandering {
  width: 100%;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  border-radius: 10%;
  transition: 0.3s;
}

.myself {
  animation: changing-radius 4s infinite ease;
  border-radius: 40% 60% 45% 55% / 30% 30% 70% 70%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  transition: 0.3s;
}

.myself:hover, .wandering:hover {
  transform: translateY(20px) rotate(2deg);
}

/*Carousel Styles*/
.carousel {
  box-shadow: 0 15px 50px rgba(0,0,0,0.5);
}

.carousel-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: black;
  opacity: 0.2;
}


@keyframes changing-radius {
  0% {
    border-radius: 91% 9% 90% 10% / 23% 79% 21% 77%;
  }
  35% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  70% {
    border-radius: 28% 72% 19% 81% / 54% 23% 77% 46%;
  }
  100% {
    border-radius: 91% 9% 90% 10% / 23% 79% 21% 77%;
  }
}


  