/*Scrollbar style*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #87AAAA;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ac2c2;
}

/*HTML styles*/
html {
  max-width: 100%;
  overflow-x: hidden;
  animation: transitionIn 0.75s;
  scroll-padding-top: 80px;
}

/*Header styles*/
header {
  height: 100vh;
  min-height: 25rem;
  overflow: hidden;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
}
    
header .container-fluid {
  z-index: 2;
}
  
header .overlay {
  height: 100%;
  width: 100%;
  opacity: 0.2;
  z-index: 1;
} 

.text-header {
  font-size: 70px;
}


/*Progress scroll button*/
#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  cursor: pointer;
  z-index: 1000;
}

#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #001a2e;
}

/*Navbar styles*/
.navbar .navbar-nav .nav-link:hover {
  color: #000000;
}

.navbar .navbar-nav .nav-link {
  position: relative;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  width: 0;
  margin-left: 1.2em;
  font-size: 3.8em;
}

.hidden {
  max-width: 1em;
  opacity: 1;
  transition: 0.3s ease-in;
}

.navbar-brand:hover .hidden{
  opacity: 0;
  max-width: 0;
}

.nav-item {
  font-size: 20px;
}

.navbar .navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  margin: auto;
  background-color: #577890;
  color: transparent;
  height: 2px;
  transition: all 0.5s;
}

.navbar .navbar-nav .nav-link:hover::after {
  width: 100%;
}


/*Chevron arrow style*/
#arrow{
  color: white;
  font-size: 50px;
  transition: 0.2s;
}

#arrow:hover{
  color: #bed2da;
}

/* Hover effects */
.hover-shadow {
  transition: 0.4s;
}
  
.hover-shadow:hover {
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}

/*Cursor blinking effect*/
.cursor{
  animation: blink .6s linear infinite alternate;
}

@keyframes blink {
  0% {opacity: 1;}
  40% {opacity: 1;}
  60% {opacity: 0;}
  100% {opacity: 0;}
}

/* Fade In Transition */
@keyframes transitionIn {
  from {
      opacity: 0;
      transform: rotateX(-10deg);
  }
  to {
      opacity: 1;
      transform: rotateX(0);
  }
}










  